.sidebarOption {
    display: flex;
    align-items: center;
    color: rgb(169, 161, 161);
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    margin-left: 30px;
}
.sidebarOption:hover {
    color: white !important;
}

.sidebarOption__icon {
    margin-right: 10px;
    font-size: 20px;
}
.sidebarOption > h4 {
    font-size: 15px;
}
.sidebar > hr {
 border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
.sidebarOption > p {
    font-size: 14px;
}